<div class="container-fluid">
  <div class="shopping-cart">
    <!-- Title -->
    <div class="title">
      Shopping Bag
    </div>

    <!-- Product #1 -->
    <div class="item" *ngFor="let item of cartItem">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>

      <div class="image">
        <img [src]="item.img_url" alt="" width="120" height="80"/>
      </div>

      <div class="description">
        <span>{{item.name}}</span>
      </div>

      <div class="quantity">
        <button class="plus-btn" type="button" name="button">
          -
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
          +
        </button>
      </div>

      <div class="total-price">${{item.discount>0?(item.price-(item.price/item.discount)| number:'3.1-2'):item.price}}</div>
    </div>

    
  </div>
</div>
