<div class="row d-flex">
  <div class="col-6 col-sm-6 col-md-2 col-lg-2 outlineCol">
    <div class="m-4 f-20 d-none d-sm-flex">
      <i class="fa fa-filter mr-1"></i><strong>Filter</strong>
    </div>
    <div class="m-4 f-20 d-flex d-sm-none" data-toggle="modal" data-target=".bd-modal-sm" (click)="openModal()">
      <i class="fa fa-filter mr-1"></i>Filter
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-10 col-lg-10">
    <app-sort (sortItem)="toggleSort($event)" ></app-sort>
  </div>
</div>
<div class="row d-flex">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 outlineCol d-none d-sm-flex">
    <app-filter (sortItem)="toggleSort($event)"></app-filter>
  </div>
  <div class="col-12 col-sm-10 col-md-10 col-lg-10">
    <div class="row">
      <div class="col-6 col-md-3 col-sm-3 col-lg-3 outlineCol" *ngFor="let item of productDetails | SortBy:this.filters.name:this.filters.orderBy:this.filters.price.min:this.filters.price.max;let i = index">
        <app-product [item]="item" class="m-1"></app-product>
      </div>
    </div>
  </div>
</div>
<app-modal (sortItem)="toggleSort($event)"></app-modal>