<div class="desktop-view d-none d-sm-flex">
  <div class="m-4 f-20">
    <i class="fa fa-sort mr-1"></i><b>Sort by</b>
  </div>
  <div class="m-4 sort-filter active-filter" (click)="sortFilter('price', false);activeSortLabel($event)">
    Price -- High to Low
  </div>
  <div class="m-4 sort-filter" (click)="sortFilter('price', true);activeSortLabel($event)">
    Price -- Low to High
  </div>
  <div class="m-4 sort-filter" (click)="sortFilter('discount', false);activeSortLabel($event)">
    Discount
  </div>
</div>
<div class="mobile-view d-flex d-sm-none">
  <div class="m-4 f-20" data-toggle="modal" data-target=".bd-modal-sm" (click)="openModal()">
    <i class="fa fa-sort mr-1"></i>Sort
  </div>
</div>